<ion-content>

  <div class="header">
    <ion-icon name="arrow-back" routerLink="/home"></ion-icon>
  </div>


  <div class="imgPresentacion">
    <ion-img src="assets/images/Estudiantes/Exams-rafiki.png"></ion-img>
  </div>
  <ion-title class="title">Iniciar sesión</ion-title>
  
  <ion-item class="input1">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="input">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <div id="olvido">
    <ion-label>¿Olvidó su contraseña?</ion-label><a> Toca Aquí</a>
  </div>

  <div class="btn-login">
    <ion-button expand="block" routerLink="/main-estudiante">Iniciar sesión</ion-button>
  </div>
</ion-content>
