  
  .title{
    font-size: 28px;
    margin-left: 15px;
    text-align: center;
  }

  .input1{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .input{
    font-size: 18px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }


  ion-img{
    display: block;
    margin: auto;
    width:88%;
  }


  #olvido{
    text-align: center;
    margin-top: 23px;
  }

  .btn-login{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }


  //footer

  .header{
    position: absolute;
    bottom: 5;
    width: 100%;
    height: 50%;
  }

  ion-icon{
    margin-top: 5px;
    margin-left: 8px;
    width: 9%;
    height: 9%;
  }