<ion-content>

  <div>
    <ion-img src="assets/images/Home/8747.jpg"></ion-img>
  </div>
  
  <ion-title>Hola,bienvenido</ion-title>
  <label>al campus estudiantil.</label>
  
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Cómo deseas ingresar?</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-button routerLink="/login-estudiante">Estudiante</ion-button>
      <ion-button routerLink="/login-admin">Administrador</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
